<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.connext.toolback.dao.db1.ArrangeClassDao">
    <resultMap type="cn.connext.toolback.entity.manage.ArrangeClass" id="arrangeClassMap" >
        <id property="id" column="id"/>
        <result property="curDutyCategory" column="cur_duty_category"/>
        <result property="curDayZeroTime" column="cur_day_zero_time"/>
        <result property="chengxiangDayTimePolice" column="chenxiang_daytime_police"/>
        <result property="gaoxinDayTimePolice" column="gaoxin_daytime_police"/>
        <result property="chengxiangNightTimePolice" column="chenxiang_night_police"/>
        <result property="gaoxinNightTimePolice" column="gaoxin_night_police"/>
        <result property="chengxiangDayTimeRule" column="chenxiang_daytime_rule"/>
        <result property="chengxiangNightTimeRule" column="chenxiang_night_rule"/>
        <result property="gaoxinDayTimeRule" column="gaoxin_daytime_rule"/>
        <result property="gaoxinNightTimeRule" column="gaoxin_night_rule"/>
    </resultMap>

    <select id="selectTargetDateArrangeClass" parameterType="string" resultMap="arrangeClassMap">
         select * from arrange_class where
        delete_flag=1 and cur_day_zero_time=#{curDayZeroTime}
        limit 1
    </select>

    <select id="selectLastArrangeClassByDutyCategory" parameterType="string" resultMap="arrangeClassMap">
         select * from arrange_class where
        delete_flag=1 and cur_duty_category=#{dutyCategory} order by id desc
        limit 1
    </select>



    <insert id="addArrangeClass"  parameterType="cn.connext.toolback.entity.manage.ArrangeClass">
            insert into arrange_class
            (cur_duty_category, cur_day_zero_time, chenxiang_daytime_police, chenxiang_night_police, gaoxin_daytime_police, gaoxin_night_police, chenxiang_daytime_rule, chenxiang_night_rule, gaoxin_daytime_rule, gaoxin_night_rule, operate_time)
            VALUE
             (#{curDutyCategory},#{curDayZeroTime},#{chengxiangDayTimePolice},#{chengxiangNightTimePolice},#{gaoxinDayTimePolice},#{gaoxinNightTimePolice},#{chengxiangDayTimeRule},#{chengxiangNightTimeRule},#{gaoxinDayTimeRule},#{gaoxinNightTimeRule},now())
    </insert>
</mapper>