<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.connext.toolback.dao.UserDao">
    <resultMap type="User" id="userMap" >
        <id property="id" column="id"/>
        <result property="policeNo" column="police_no"/>
        <result property="name" column="name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="dutyCategory" column="duty_category"/>
        <result property="dutyArea" column="duty_area"/>
        <result property="userCategory" column="user_category"/>
        <result property="orderNum" column="order_num"/>
    </resultMap>

    <select id="selectAllUserCount" parameterType="cn.connext.toolback.entity.manage.QueryUserListParam" resultType="int">
          select count(1) from user

        <where>
            delete_flag=1

            <if test="name != null and  name !=''">
                and name like concat ('%',#{name},'%')
            </if>

            <if test="policeNo != null and  policeNo !=0">
                and police_no = #{policeNo}
            </if>

            <if test="userCategory != null and  userCategory !=0">
                and user_category = #{userCategory}
            </if>

            <if test="dutyCategory != null and  dutyCategory !=''">
                and duty_category = #{dutyCategory}
            </if>

            <if test="dutyArea != null and  dutyArea !=''">
                and duty_area = #{dutyArea}
            </if>
        </where>
    </select>

    <select id="selectUserListByParam" parameterType="cn.connext.toolback.entity.manage.QueryUserListParam" resultMap="userMap">
          select * from user
        <where>
            delete_flag=1
            <if test="name != null and  name !=''">
                and name like concat ('%',#{name},'%')
            </if>

            <if test="policeNo != null and  policeNo !=0">
                and police_no = #{policeNo}
            </if>

            <if test="userCategory != null and  userCategory !=0">
                and user_category = #{userCategory}
            </if>

            <if test="dutyCategory != null and  dutyCategory !=''">
                and duty_category = #{dutyCategory}
            </if>

            <if test="dutyArea != null and  dutyArea !=''">
                and duty_area = #{dutyArea}
            </if>
        </where>

        order by order_num ,id
        limit #{ startIndex},#{  pageSize}
    </select>

    <insert id="addUser"  parameterType="cn.connext.toolback.entity.User">
            insert into user (police_no, name,  phone_number,  user_category, duty_category, duty_area,order_num)  value (#{policeNo},#{name},#{phoneNumber},#{userCategory},#{dutyCategory},#{dutyArea},#{orderNum})
    </insert>

    <update id="editUser" parameterType="cn.connext.toolback.entity.User">
            update user set police_no=#{policeNo},name=#{name}, phone_number=#{phoneNumber},duty_area=#{dutyArea},
            user_category=#{userCategory}, duty_category=#{dutyCategory}, order_num=#{orderNum} where id=#{id}
    </update>

    <update id="deleteUser" parameterType="cn.connext.toolback.entity.User">
            update user set delete_flag=2 where id=#{id}
    </update>
</mapper>