<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.connext.toolback.dao.UserDao">
    <resultMap type="User" id="userMap" >
        <id property="id" column="id"/>
        <result property="policeNo" column="police_no"/>
        <result property="name" column="name"/>
        <result property="idcardNo" column="idcard_no"/>
        <result property="age" column="age"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="dutyCategory" column="duty_category"/>
        <result property="userCategory" column="user_category"/>
        <result property="serviceStatus" column="service_status"/>
    </resultMap>

    <select id="selectAllUserCount" parameterType="cn.connext.toolback.entity.manage.QueryUserListParam" resultType="int">
          select count(1) from user

        <where>
            <if test="name != null and  name !=''">
                and name like concat ('%',#{name},'%')
            </if>

        </where>

    </select>

    <select id="selectUserListByParam" parameterType="cn.connext.toolback.entity.manage.QueryUserListParam" resultMap="userMap">
          select * from user
        <where>
            <if test="name != null and  name !=''">
                and name like concat ('%',#{name},'%')
            </if>
        </where>
        limit #{ startIndex},#{  pageSize}
    </select>
</mapper>